<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-12 text-center">
      <div class="error-template">
        <h1>Ops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          Desculpe, ocorreu um erro, a página solicitada não foi encontrada!
        </div>
      </div>
    </div>
  </div>
</div>