<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="bx bxl-stripe"></i>
      <div class="logo_name">SIGA</div>
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <i class="bx bx-search-alt-2"></i>
      <input type="text" placeholder="Busca....." id="busca" />
      <i class="tooltip">Busca</i>
    </li>
    <li>
      <a href="/dashboards">
        <i class="bx bxs-dashboard"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <i class="tooltip">Dashboard</i>
    </li>
    <li>
      <a href="/usuario">
        <i class="bx bx-user"></i>
        <span class="links_name">Usuários</span>
      </a>
      <i class="tooltip">Usuários</i>
    </li>
    <li>
      <a href="/usuario/controleAcesso">
        <i class="bx bx-user"></i>
        <span class="links_name">Controle de Acesso</span>
      </a>
      <i class="tooltip">Controle de Acesso</i>
    </li>
    <li>
      <a href="/ativos">
        <i class="bx bxs-cabinet"></i>
        <span class="links_name">Ativos</span>
      </a>
      <i class="tooltip">Ativos</i>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-line-chart"></i>
        <span class="links_name">Relatórios</span>
      </a>
      <i class="tooltip">Relatórios</i>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="links_name">Configurações</span>
      </a>
      <i class="tooltip">Configurções</i>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img src="/public/imagens/Foto.jpg" alt="" />
        <div class="name_job">
          <div class="name">Diego Melo</div>
          <div class="job">Desenvolvedor</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </div>
  </div>
</div>